# System Files
.DS_Store
Thumbs.db
*.log

# Editor Directories
.idea
.vscode
*.swp
*.swo
plesk.md

# Dependency Directories (if installed in root)
node_modules/
tests/

# Environment Variables
.env
.env.*
!.env.example
